@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*For Easy Color Changing*/
:root {
    --primary-color: #008080;
    --secondary-color: #ffa500;
    --text-color: #fafafa;
    --background-color: #1a1a1a;
    --secondary-background-color: rgba(40,40,40,0.95);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

/* home section */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    width: 100%;
    max-height: 100vh;
    position: relative;
    
}

.canvas {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing {
    color: var(--text-color);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.landing .line-1,
.line-1 span,
.line-2 {
    font-size: 2rem;
}

.line-1 span {
    color: var(--primary-color);
}

.btn {
    font-size: 1.5rem;
    padding: .5em 1em;
    border: 2px solid var(--primary-color);
    background: rgba(26, 26, 26, 0.863);
    color: var(--primary-color);
    transition: .5s;
    position: relative;
}

.btn:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    top: -1px;
    right: -1px;
    cursor: pointer;
}

/* landing animations */

.line-1 {
    animation: line1 2s;
    position: relative;
}

@keyframes line1 {
    0% {
        opacity: 0;
        left: -5rem;
    }    
    100% {
        left: 0;
    }
}

.line-2 {
    animation: line2 2s;
    position: relative;
}

@keyframes line2 {
    0% {
        opacity: 0;
        right: -5rem;
    }
    100% {
        right: 0;
    }
}

.btn {
    animation: abtBtn 2s;
    position: relative;
}

@keyframes abtBtn {
    from {
        opacity: 0;
        bottom: -3rem;
    }
    to {
        bottom: 0;
    }
}

/* Navigation */

.nav-bar {
    background-color: rgba(26, 26, 26, 0.973);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 5px;
    z-index: 5;
}

.nav-list {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    list-style: none;
}

.nav-list li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    transition: .5s;
}

.nav-list li a:hover {
    color: var(--primary-color);
}

/* about section */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0;
}

.header-container {
    width: fit-content;
}

.section-header {
    font-size: 2.5rem;
    color: var(--text-color);
    position: relative;
}

.section-header::after {
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    height: 1rem;
    width: 100%;
    content: '';
    position: absolute;
    bottom: 1px;
    left: 10%;
    z-index: -1;
    border-radius: 5px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-text {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}

.about-text p {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    max-width: 500px;
}

.about-text img {
    width: 20rem;
}

/* skills section */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.skills-header {
    color: var(--text-color);
    font-size: 2rem;
}

.skill-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 85%;
    gap: 1rem;
}

.skill-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    /* border-image: linear-gradient(120deg, var(--primary-color) , var(--secondary-color) 50%);
    border-image-slice: 1; */
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: .5rem 1rem;
    gap: .5rem;
}

.skill-div img{
    width: 40%;
}

/* projects section */

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3.5rem 0;
    gap: 2rem;
    width: 95%;
}

.project-card-2,
.project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-card-2 {
    left: -3rem;
}

.project-card {
    right: -3rem;
}

.project-card-2 a img,
.project-card a img {
    width: 100%;
    border: 1px solid var(--text-color);
    min-width: 250px;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    transition: .5s;
    z-index: -10;
}

.project-card-2 a img {
    background-image: linear-gradient(50deg, var(--primary-color), var(--secondary-color));
    padding-left: 2.5rem;
}

.project-card a img {
    background-image: linear-gradient(50deg, var(--secondary-color), var(--primary-color));
    padding-right: 2.5rem;
    
    
}

.project-card a img:hover,
.project-card-2 a img:hover {
   transform: scale(90%);
}

.project-text-2 {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    right: -6rem;
    position: relative;
    min-width: 170px;
    padding: 1rem;
    gap: 1rem;
}

.project-text,
.project-text-2 {
    z-index: 10;
}

.project-text-2 h1,
.project-text h1 {
    font-size: 1.2rem;
    color: var(--text-color);
}

.project-text-2 p,
.project-text p {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500; 
}

.project-text-2 a,
.project-text a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
    width: fit-content;
    padding: .5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .5s;
}

.project-text-2 a:hover,
.project-text a:hover {
    background-color: var(--secondary-color);
    border-bottom: 2px solid transparent;
    color: var(--background-color);
}

.project-text {
    background-color: var(--secondary-background-color);
    min-width: 170px;
    padding: 1rem;
    position: relative;
    left: -6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* contact section */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding: 3.5rem 0;
    padding-bottom: 10rem;
    max-width: 600px;
    gap: 3rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-p {
    color: var(--text-color);
    font-size: 1.2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: .5rem;
}

.contact-form input[type="text"],
.contact-form textarea {
    background-color: var(--secondary-background-color);
    border: none;
    padding: .5rem;
    color: var(--text-color);
}

.contact-form textarea {
    height: 10rem;
}

.contact-form input[type="submit"] {
    background-color: var(--background-color);
    color: var(--text-color);
    letter-spacing: 1.2px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    padding: .5rem 1rem;
    align-self: flex-end;
    transition: .5s;
}

.contact-form input[type="submit"]:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    width: 100%;
    position: relative;
    padding: 4rem 0;
    gap: 1rem;
    color: var(--text-color);
    font-size: 10px;
}

footer a img{
    width: 35px;
}

footer a:hover {
    opacity: .8;
}

.up-arrow {
    position: absolute;
    background-color: var(--primary-color);
    padding: 5px 0;
    top: -30px;
}

.contact-imgs {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 376px){
    html {
        font-size: 15px;
    }

    .nav-bar {
        justify-content: right;
    }
}

@media screen and (min-width: 900px){
    .about-content {
        flex-direction: row;
    }
}


